@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
/*google fonts*/


/* =============== */

/*color test*/
.colorTest1 {
  color: #ffffff1a;
}

.colorTest2 {
  color: #2b3bd0c1;
}

.colorTest3-Dark {
  color: #071041b8;
}

.colorTest4 {
  color: #000000;
}


/* ============== */

.App {
  text-align: center;
}


/* ============== */

/* CardSlider colors */
.bluebg:hover {
  background-color: #1212a23c;
}
.bluetxt {
  color: #0000ffa1;
  border: solid .5px #0000ffa1;
  background-color: #0000ff03;
}

.greenbg:hover {
  background-color: #11a42239;
}
.greentxt {
  color: #008000a1;
  border: solid .5px #008000a1;
  background-color: #00800003;
}

.redbg:hover {
  background-color: #a9141439;
}
.redtxt {
  color: #ff0000a1;
  border: solid .5px #ff0000a1;
  background-color: #ff000003;
}

/* ============ */

/*Navigation Arrow Button color*/
.swiper-button-prev, .swiper-button-next {
  color: #000000 !important;
}

@media (max-width: 600px) {
  .swiper-button-prev, .swiper-button-next {
    --swiper-navigation-size: 30px;
  }
}


/* ============= */

/* NavLinks color on DarkMode */
.darkFont {
  color: #fff;
}

.lightFont {
  color: #000000de;
}
/* mobile NavLinks border on DarkMode */

.darkBorder {
  border: #fff solid 2px;
}

.lightBorder {
  border: #000000de solid 2px;
}


/* ================= */

/* parallax image */
.parallax-image {
  aspect-ratio: 2/1;
}
@media (max-width: 900px) {
  .parallax-image {
    aspect-ratio: 1/2;
  }
}
/* ============== */



/*ANIMISTA EFFECTS */
.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.ping {
	-webkit-animation: ping 1.7s ease-in-out infinite both;
	        animation: ping 1.7s ease-in-out infinite both;
}

.fade-in {
	-webkit-animation: fade-in .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
	-webkit-animation: fade-out .35s ease-out both;
	        animation: fade-out .35s ease-out both;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
 @-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }


/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fade-out {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }


/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

      

